<template>
  <div class="container">
    <navbar></navbar>
    <form>

      <div class="well">
        <h4>Create a List</h4>
        <div class="form-group">
          <label class="pull-left">List Name</label>
          <input type="text" class="form-control" v-model="List.name" placeholder="List Name" pattern=".{11,30}" required title="11 to 30 characters">
          <label class="pull-left">Title</label>
          <input type="text" class="form-control" v-model="List.items[0].title" placeholder="Item Name" pattern=".{6,32}" required title="6 to 32 characters">
          <label class="pull-left">Category</label>
          <input type="text" class="form-control" v-model="List.items[0].category" placeholder="Item Category" pattern=".{4,5}" required title="4 to 5 characters">
            <button type="submit" class="btn btn-primary create_btn" @click="addToAPI">Create</button>
        </div>
      </div>
    </form>

  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

/* eslint-disable */
import axios from 'axios';

export default {
  components: {
    'navbar': Navbar
},
  name: 'CreateItemList',
  data () {
    return {
      List: {name:'', items:[ {
                title: '',
                category: ''            
              
            }]},
    }
  },
  methods:{
    addToAPI(){
        axios.post('http://localhost:3000/lists', this.List)
    .then((response) => {
      })
    .catch((error) => {
      console.log(error);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

 body{
    
    background:#59D6B6;

  }
</style>
