<template>
  <div class="container">
    <navbar></navbar>
      <div class="jumbotron">
        <h1 id="main_title"><i class="fas fa-shopping-cart"></i> WishList</h1>
      </div>
      <table class="table table-striped table-borders">
        <tr>
          <th class="center">List Name</th>
          <th class="center">Title</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
        <tr align="left" v-for="list in List" :key='list.id'>
          <td v-if = "list.name!=null" style="padding-left:5px;"> <input type="text" v-if="clicked" v-model="newList.listname">{{ list.name}}
          </td>
            <td style="padding-left:5px;" align="left" v-for="item in list.items" :key="item.id">
            <div v-if = "list.items!=null">
              <input type="text" v-if="clicked" v-model="newList.newitems[0].itemtitle">
              {{ item.title }}
              </div>
          </td>
            <td style="padding-left:5px;" align="left" v-for="item in list.items" :key="item.id">
          <div v-if = "list.items!=null" class="paddingText"> <input type="text" v-if="clicked" v-model="newList.newitems[0].itemcategory"> {{ item.category }}
          </div>
        </td>
         <td align="left"   valign="middle">
          <router-link to="/GetList">
             <button type="button" @click="deleteList(list._id)" class="btn btn-danger btnDelete"> Delete </button>
           </router-link>
            <button type="button" @click="editList(list._id)" class="btn btn-info btnEdit"> Edit </button>
             <router-link to="/GetList">
             <button type="button" @click="updateList(list._id,list)" class="btn btn-large btn-block btn-info full-width btnUpdate" style="width: 75px;"> Update </button>
            </router-link>
          </td>
             </tr>
         </table>
      </div>
</template>

<script>
import Navbar from '@/components/Navbar'

/* eslint-disable */
import axios from 'axios';
export default {
components: {
    'navbar': Navbar
}, 
name:'list',
data () {
      return {
        List: {_id:'', name:'', items:
            [ {
                title: '',
                category: ''            
              
              }
            ]
              
    }, 
    clicked:false, 
    newList: {_id:'', listname:'', newitems:
            [ {
                itemtitle: '',
                itemcategory: ''            
              
              }
            ]
              
    } 

}

},

created: function(){
  this.fetchLists();
  this.refreshPage();
},

methods: {
  fetchLists(){
    let uri = 'http://localhost:3000/lists';
    axios.get(uri).then((response) => 
    {
                  this.List = response.data;
                  
    });
  },
  refreshPage(){
      setTimeout(function(){

              location.reload();

      },10000);
  },
  deleteList : function(_id, List){
    var index = this.List.length;
          
    axios.delete('http://localhost:3000/lists/'+_id, this.List)
    .then(response => {
      //removes selected list from collection
      this.List.splice(index, 1);
      //refreshes Application
      window.location.reload();
    })
  },

  editList : function(_id){
      if(this.clicked === false)
      this.clicked = true;
    
  },
  updateList : function(_id, List, newList){

    var inputName = this.newList.listname;
    var inputTitle = this.newList.newitems[0].itemtitle;
    var inputCategory = this.newList.newitems[0].itemcategory;
   

    // ALL CASES
    if((this.inputName!=='') && (this.inputTitle!=='') && (this.inputCategory!=='')){
       axios.put('http://localhost:3000/lists/'+_id, {name:inputName, title:inputTitle, category:inputCategory})
      .then(response => {
          console.log(response);
          window.location.reload();
        })
        .catch(error => {
          console.log(error);
        });
    }
    //TITLE + CATEGORY
    else if((this.inputTitle!=='') && (this.inputCategory!=='')){
       axios.put('http://localhost:3000/lists/'+_id, {name:name,title:inputTitle, category:inputCategory})
      .then(response => {
          console.log(response);
          window.location.reload();
        })
        .catch(error => {
          console.log(error);
        });
    
  }
  // NAME + CATEGORY
   else if((this.inputName!=='') && (this.inputCategory!=='')){
       axios.put('http://localhost:3000/lists/'+_id, {name:inputName,title:title,category:inputCategory})
      .then(response => {
          console.log(response);
          window.location.reload();
        })
        .catch(error => {
          console.log(error);
        });
    
  }
  //NAME + TITLE
  else if((this.inputName!=='') && (this.inputTitle!=='')){  
       axios.put('http://localhost:3000/lists/'+_id, {name:inputName, title:inputTitle,category:category})
      .then(response => {
          console.log(response);
          window.location.reload();
        })
        .catch(error => {
          console.log(error);
        });
    
  }

   else if((this.inputTitle!=='') && (this.inputCategory!=='')){
       axios.put('http://localhost:3000/lists/'+_id, {name:name, title:inputTitle, category:inputCategory})
      .then(response => {
          console.log(response);
          window.location.reload();
        })
        .catch(error => {
          console.log(error);
        });
    
  }

  else if((this.inputName!=='')){
       axios.put('http://localhost:3000/lists/'+_id, {name:inputName, title:title, category:category})
      .then(response => {
          console.log(response);
          window.location.reload();
        })
        .catch(error => {
          console.log(error);
        });
  }

  else if((this.inputTitle!=='')){
         axios.put('http://localhost:3000/lists/'+_id, {name:name,title:inputTitle,category:category})
        .then(response => {
            console.log(response);
            window.location.reload();
          })
          .catch(error => {
            console.log(error);
          });
  }

  else if((this.inputCategory!=='')){
       axios.put('http://localhost:3000/lists/'+_id, {name:name,title:title,category:inputCategory})
      .then(response => {
          console.log(response);
          window.location.reload();
        })
        .catch(error => {
          console.log(error);
        });
  }
  else{
    return;
  }
   
      //refreshes Application
      window.location.reload();
  } 

}



}

</script>

<style>
  body{
    
    background:#59D6B6;

  }
  .item-title{
    float:right;
  }
  #viewListHeading{
    padding-right: 45px;
    padding-bottom: 50px;
  }
  .btnDelete{
     float:left;
    margin:5px;
  }
  .btnEdit{
    float:left;
    margin:5px;
     }
  .btnUpdate{
    float:left;
    margin:5px;
     
  }
  .paddingText{
    padding-left:10px;
  }
  tr:nth-child(even) {background: #FFF}
  
</style>