<template>
  <div id="app">
   <h1><i class="fas fa-search"></i></h1>
   <h1>404</h1>
   <h1>PAGE NOT FOUND</h1>
 </div>
</template>
}

<script>
export default {
  methods: {
    created: function () {
      // Redirect outside the app using plain old javascript
      window.location.href = '/error-404-page.html'
    }
  }
}
</script>

<style>
body{
  background:#FFFFFF;
}
h1{
 text-align:'center';
 font-size: 80px;
 padding-top: 25px;
 font-weight: bold;
 color: black;
}
#navbar{
  display:none;
}
</style>
